@charset "utf-8";
/* CSS Document */


* { margin: 0px; padding: 0; }

body{
  font-size:15px;
  font-family:Verdana,calibri,tahoma,sans;
  text-align:center;
	background:#f3f3f3;	
	text-align:center;
	color:#333333;

}
img{
	border:none;
}
p{
	color:#464646;
}

#page_container{
	
}
#page_main_wrapper{
	width:1000px;
	overflow:hidden;
	
	height: auto;
	
}
/* login styles */
#page_login_container{
  width: 600px;
  height: auto;  
} 
#login_head{
  position: relative;
  font-family: Trebuchet MS;
  float: left;
  height: 80px;
  width: 100%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
  background-color: #1a82f7; 
  /* background-image: url(images/fallback-gradient.png); */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bfa5b1), to(#a27c8e));
  background-image: -webkit-linear-gradient(top, #bfa5b1, #a27c8e); 
  background-image: -moz-linear-gradient(top, #bfa5b1, #a27c8e);
  background-image: -ms-linear-gradient(top, #bfa5b1, #a27c8e);
  background-image: -o-linear-gradient(top, #bfa5b1, #a27c8e);
  -webkit-box-shadow: 0 12px 6px -6px rgba(68,68,68,0.6);
	   -moz-box-shadow: 0 12px 6px -6px rgba(68,68,68,0.6);
	        box-shadow: 0 12px 6px -6px rgba(68,68,68,0.6);
  z-index: 100;
  vertical-align: middle;
  font-size: 40px;
  color: #f3f3f3;	
  
}

.webadmin{
  color: #1CA370;
  font-size: 24px;
  
}
#page_top_container{
	position:relative;
	float:left;
	min-height:103px;
	height:auto;
	width:950px;
	background: url(../images/header-bk.png) repeat-x top center;
	

}
#page_middle_container{
	position:relative;
	float:left;
	height:348px;
	width:100%;
	
	height:auto;
}
#page_banner_container{
	position:relative;
	float:left;
	height:auto;
	width:950px;
	
}
#page_middle_container #page_middle_top{
	position:relative;
	top:-20px;
	height:95px;
	width:1000px;
	height:auto;
}

#page_bottom_container{
	position:relative;
	float:left;
	min-height:200px;
	width:100%;
	background: url(../images/bottom-bk.png) repeat-x center top #6c6b6b;
	
	color:#CCCCCC;

}
#page_bottom_container .head{
	
	font-size:60%;
	color:#CCCCCC;
	border-bottom:1px solid #CC0000;
	text-align:left;
}
#page_bottom_container .body{
	
	font-size:60%;
	color:#CCCCCC;
	text-align:left;
	
}
#page_bottom_container ul{
	
	font-size:70%;
	color:#CCCCCC;

}
#page_footer_container{
	position:relative;
	float:left;
	min-height:100px;
	width:100%;
	background: #212223;
	border-top: 1px solid #cf0917;

}
#page_footer_container p{
color:#ffffff;font-size:70%;padding-bottom:15px;
}
/* start of bread crumbs */
.breadcrumb { 
			list-style: none; 
			overflow: hidden; 
			font: 14px Trebuchet MS;
      color: #333333;
		}
		.breadcrumb li { 
			float: left; 
      color: #333333;
		}
		.breadcrumb li a {
			color: white;
			text-decoration: none; 
			padding: 5px 0 5px 55px;
			background: #7cc164;                   /* fallback color */
			background: hsla(105, 43%, 58%, 1); 
			position: relative; 
			display: block;
			float: left;
		}
		.breadcrumb li a:after { 
			content: " "; 
			display: block; 
			width: 0; 
			height: 0;
			border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
			border-bottom: 50px solid transparent;
			border-left: 30px solid hsla(105, 43%, 58%, 1); 
			position: absolute;
			top: 50%;
			margin-top: -50px; 
			left: 100%;
			z-index: 2; 
		}	
		.breadcrumb li a:before { 
			content: " "; 
			display: block; 
			width: 0; 
			height: 0;
			border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
			border-bottom: 50px solid transparent;
			border-left: 30px solid #efefef;
			position: absolute;
			top: 50%;
			margin-top: -50px; 
			/*margin-left: 1px;*/
			left: 100%;
			z-index: 1; 
		}	
		.breadcrumb li:first-child a {
			padding-left: 10px;
      color: #333333;
		}
		.breadcrumb li:nth-child(2) a       { background:        hsla(105, 53%, 68%, 1);  }
		.breadcrumb li:nth-child(2) a:after { border-left-color: hsla(105, 53%, 68%, 1);  }
		.breadcrumb li:nth-child(3) a       { background:        hsla(109, 68%, 84%, 1);  }
		.breadcrumb li:nth-child(3) a:after { border-left-color: hsla(109, 68%, 84%, 1);  }
		.breadcrumb li:nth-child(4) a       { background:        hsla(109, 68%, 89%, 1);  }
		.breadcrumb li:nth-child(4) a:after { border-left-color: hsla(109, 68%, 89%, 1);  }
		.breadcrumb li:nth-child(5) a       { background:        hsla(109, 68%, 94%, 1);  }
		.breadcrumb li:nth-child(5) a:after { border-left-color: hsla(109, 68%, 94%, 1);  }
		.breadcrumb li:last-child a {
			background: #efefef !important;
			ccolor: #333333;;
			pointer-events: none;
 			cursor: default;
		}
		.breadcrumb li:last-child a:after { border: 0; }
		.breadcrumb li a:hover { background: hsla(109, 68%, 64%, 1);  }
		.breadcrumb li a:hover:after { border-left-color: hsla(109, 68%, 64%, 1) !important; }


#breadcrumbs{
  position:relative;
  float:left;
  text-align: left;
  height:50px;
  background: #DDDDDD;
}
#breadcrumbs ul{ position: relative; float: left; list-style: none; display: inline; text-align: left; top: 10px;}
#breadcrumbs ul li{ list-style: none; display: inline; background: #6bb153;}
#breadcrumbs ul li a{ text-decoration: none; padding: 5px 5px; color: #FFFFFF; }
/* end of bread crumbs */
/* start of module icon display */
div.modules{postion:relative; float:left; background: #fcfcfc;}
div.modules .normCell{display: inline; width: 20%;padding-bottom: 20px;}
div.modules .normCell a{ text-decoration: none; padding: 5px 0px;}

div.modules a.modulename {color: #1CA370; }
div.modules a.modulename:hover {color: #cccccc;}
/* end of module icon display */
/* general form styles */
.generalform{
 background: #fafafa;
 font-size: 14px;
 font-family: Verdana;
}
.generalform .section{
  border: 1px #6c6b6b dotted;
}
.generalform .heading{   
   color: #FFFFFF; 
   background: #99CD4E;
   background: hsla(109, 68%, 69%, 1);   
   font-weight: bold;   
   padding: 5px 0px;   
}
.generalform .label{
  text-align: right;
  padding-right: 10px;
  color: dimgrey;
  font-size: 14px;
}
.generalform .value{
  text-align: left;
 
}
.generalform input[type=text]{
  height: 30px;
  width: 250px;
  border: 1px solid #f3f3f3;  
  font-size: 12px; background:#ffffff;	
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px; /* future proofing */
  -khtml-border-radius: 7px; /* for old Konqueror browsers */
   text-indent: 10px;
}

.generalform .styled-select select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }
   
   .styled-select {
   width: 250px;
   height: 30px;
   overflow: hidden;
   background: url(../images/new_arrow.jpg) no-repeat right #fff;
   border: 1px solid #f3f3f3; 
   -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px; /* future proofing */
  -khtml-border-radius: 7px; /* for old Konqueror browsers */
   }
label {  
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding-left: 25px;  
    margin-right: 15px;  
    font-size: 13px;  
}  
.generalform input[type=radio] {  
    display: none;  
}

label:before {  
    content: "";  
    display: inline-block;  
    border: 1px solid #7cc164; 
    width: 16px;  
    height: 16px;  
  
    margin-right: 10px;  
    position: absolute;  
    left: 0;  
    bottombottom: 5px;  
    background-color: #fff;  
   /* box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);  */
}  

.radio label:before {  
    border-radius: 8px;  
     border: 1px solid #7cc164; 
}  

input[type=radio]:checked + label:before {  
    content: "\2022";  
    color: #7cc164;  
    font-size: 24px;  
    text-align: center;  
    line-height: 18px;  
     border: 1px solid #7cc164; 
}  
/*
.generalform input[type=checkbox] {  
    display: none;  
} 
.checkbox label:before {  
    border-radius: 3px;  
}  
input[type=checkbox]:checked + label:before {  
    content: "\2713";  
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  
    font-size: 15px;  
    color: #7cc164;  
    text-align: center;  
    line-height: 15px;  
}  */

.generalform input[type=submit] {  
  height: 30px;
  width: 100px;
   border: none;
  font-size: 14px; background: #1CA370;;	
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px; /* future proofing */
  -khtml-border-radius: 7px; /* for old Konqueror browsers */
   color: #FFFFFF;
   font-weight: bold; 
   
   
} 

.generalform input[type=reset] {  
  height: 30px;
  width: 100px;
  border: none;
  font-size: 14px; background: #1CA370;;	
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px; /* future proofing */
  -khtml-border-radius: 7px; /* for old Konqueror browsers */
   color: #FFFFFF;
   font-weight: bold;
}

.generalform .showErros{
  border: 2px solid lightcoral;
  color: lightcoral;
  padding: 5px 0px;
}
.generalform .normCell{
  padding-right: 15px;
}
.allModules .tableRow{
  padding: 0px 0px 5px 0px;
  border-bottom: 1px solid #7cc164;
}
/* general form styles */

/* general list styles */
.generallist{
 background: #fafafa;
}
.generallist .heading{
   height: 20px;
   color: #FFFFFF;
   background: #7cc164;
   font-weight: bold;
   font-family: Trebuchet MS;
}
.generallist .heading .normCell{
   border-right: 1px solid #6bb153;
}
.generallist .bodyrow{
   border-bottom: 1px solid #f1f1f1;
}

/* general list styles */

.bodyText p{
 	line-height: 20px;
 }
div.tableLike{
	position:relative;
	float:left;
	width: 100%;
	min-height:25px;
	height:auto;
}
div.tableRow{
	position:relative;
	float:left;
	width: 100%;
	min-height:25px;
	height:auto;
}
div.normCell{
	position:relative;
	float:left;
	display:inline;
	float:left;
	width: auto;
	
	height:auto;
	vertical-align:middle;
	
}

ul.mainMenuList{
	display:inline;
	list-style:none;
	text-align:left;
	margin-top:10px;
	padding-left:50px;
	position:relative;
	float:left;
	
}
ul.mainMenuList li{
	display:inline;
	list-style:none;
	margin-top:10px;
}
ul.mainMenuList li a{
	padding:5px 10px;
	color:#FFFFFF;
	font-size:70%;
	text-decoration:none;
}
ul.mainMenuList li a:hover{

}

h4{
	margin-top:20px;
}
p.question{
	color: #0066CC;
	font-weight:bold;
	padding-bottom: 5px;
}
p.answer{
	
	padding-bottom: 15px;
}
span.acronym{
	font-weight:bold;
}
ol.qna{
	padding-left:20px;
	padding-bottom:10px;
	list-style:decimal;
}
.orderDetails{
}

.orderDetails h4{
	background: #C0D9ED; 
	border: 1px solid #7197D7;
	padding: 2px 5px;
}


a.wearehere{
	font-weight:bold;
	text-decoration:underline;
}

.seperator{
  background: #efefef;
}

.salute{
  font-size: 11px;
  color: #0066CC;
  font-weight: bold;
  padding: 10px 0px;
}
.salute a{
  text-decoration: none;
  color: #1CA370;
}
.salute a:hover{
  color: #fefefe;
}

/* digital clock displayer */
#clock li, #clock2 li {
display:inline;
color: #0066CC;
font-size:11px;
font-weight:bold;
}
#clock, #clock2 {
padding-left: 0;
margin: 5px 0;
}
.title {
color: #0066CC;
font-size:11px;
font-weight:bold;
margin: 0 10px;
}
/* end of digital clock syles */

.allTasks{
  background: #009999;
}

.allTasks a{
  padding: 5px 2px;
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
  font-size: 120%;
}

.moduleTitle{
  background: #1CA370;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 120%;
}
.moduleTitle:hover{
  background: #159160;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 120%;
  font-family: courier;
}

.classError{
  background: #fefefe;
  border: 3px solid crimson;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px; /* future proofing */
  -khtml-border-radius: 7px; /* for old Konqueror browsers */
  padding: 5px;
  /* font-weight: bold; */
  color: crimson;
  text-align: center;
}
.taskIcon{
  background: #fcfcfc;
  
}
.errorMsg h3{
  color: crimson;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 10px;
  text-align:left;
}

.errorMsg .sectionErr{
  text-align: left;
  background: #FEFEFE;
   -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px; /* future proofing */
  -khtml-border-radius: 7px; /* for old Konqueror browsers */
  border: 1px #efefef solid;
}

.errorMsg p{
  color: #6c6c6c;
  word-spacing: 5px;
  padding: 5px 5px;
  font-size: 16px;
  line-height: 30px; 
}
div#atAll{
  background: #ECECEC;
  
}
#atAll .head{
  background: #1CA370;
  color: #FFFFFF;
  font-weight:bold;
}
ul.tasks{
  position: relative;
  float:left;
  list-style: none;
  width: 100%;
  padding-bottom: 5px;
/*  background: #7cc164;*/
}
ul.tasks li{
  text-align: left;
  padding: 5px 5px;
  border-bottom: 1px solid #DDDDDD;
}
ul.tasks li a{
  padding: 5px 0px;
  color: #6c6b6b;
}
ul.tasks li a:hover{
  color: #FFFFFF;  
}
ul.tasks li:hover{
  background: #7cc164;
  color: #FFFFFF;
}
ul.tasks li:hover a{
  background: #7cc164;
  color: #FFFFFF;
}

.statistics{
   -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px; /* future proofing */
  -khtml-border-radius: 7px; /* for old Konqueror browsers */
  zoom: 1;
    filter: alpha(opacity=70);
    opacity: 0.7;
  background: #f1f1f1;
  border: 1px solid #efefef;
  font-size: 11px;
}
.statistics .tableRow{
  height: 10px;
  border: 1px solid #efefef;
  text-align:left;
  color: #7cc164;
  text-indent: 2px;
}
.statistics .headline{
  background: #7cc164;
  color: #FFFFFF;
  text-align: center;
  border: none;
}
form{
  background: #fefefe;
}
form .tableLike{
  background: #fefefe;
  border: 1px solid #fbfbfb;
}
form .tableRow{
  padding: 5px 0px 5px 5px;
  text-align: left;
}
form input{
  border: 1px solid #eeeeee;
  padding: 3px 5px;
  
}
form input[type=submit]{
  cursor: pointer;
  
}
ul.homeStyle{
  list-style: none; display: inline;
}
ul.homeStyle li{ padding: 10px 10px; display: inline-block; border: 10px solid #1CA370;
              width: 134px; height: 134px; margin-bottom: 5px; background: #FCFCFC;
              background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FCFCFC), to(#FEFEFE));
  background-image: -webkit-linear-gradient(top, #FCFCFC, #FEFEFE); 
  background-image: -moz-linear-gradient(top, #FCFCFC, #FEFEFE);
  background-image: -ms-linear-gradient(top, #FCFCFC, #FEFEFE);
  background-image: -o-linear-gradient(top, #FCFCFC, #FEFEFE);
   -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px; /* future proofing */
  -khtml-border-radius: 7px; /* for old Konqueror browsers */
}
ul.homeStyle li a{padding: 10px 5px; text-decoration: none; color: #1a82f7}
.header{ background: #1CA370; color: #FFF; font-weight: bold;}
.odd { background: #fcfcfc;}
.tip{ margin: 5px 5px 0px 0px; background: #FCFCFC; font-size: 90%; color: #6c6c6c; padding: 5px 5px;width: 640px; border: 1px solid #FAFAFA;}
.tasks{ background: #ECECEC; }
.tasks ul{list-style: none; text-align: left;background: #ECECEC; }
.tasks ul li{list-style: none; padding: 5px 0px; }
.tasks ul li:hover a{color: #7cc164;}
.tasks ul li a{padding: 0px 5px; text-decoration: none; color: #1CA370; font-weight: bold}
.tasks ul li a:hover{color: #7cc164;}
.headtask{ background: #7cc164; text-align: left; font-weight: bold; color: #FFFFFF;text-indent: 5px; }
#lightbox {
	position: absolute;
	top: 0;
	left: 50%;
	width: 500px;
	margin-left: -250px;
	background: #fff;
	z-index: 1001;
	display: none;
}
#lightbox-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
	z-index: 1000;
	display: none;
}
.ajaxForms{
   
   
}
.ajaxForms .head{
  padding-top: 15px;
  color: #6c6c6c;
   font-weight: bold;
  width: 99%;
}